.home-section{
    display: flex;
    align-items: center;
    width: 100%;
}

*{
    font-size: 12px !important;
}

::ng-deep p-toolbar{
    .p-toolbar {
       background: none !important;
       border: none !important;
    }
}