
.layout-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    background-color: #f8f9fa;
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.flex-5{
    flex: 5;
}


.header{
    background-color:var(--light-theme-color);
    height: 58px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

img{
    width: 70%;
    height: 80%;
}

@media(max-width: 767px) {
    .content{
        display: block;
    }
}

::ng-deep p-megamenu{
    .p-megamenu.p-megamenu-vertical {
        width: 100%;
        padding: 0.25rem 0;
    }
    
    .p-megamenu-panel {
        right: 0px;
    }

    .p-menuitem-link {
        background-color: #f8f9fa;
    }

    .p-megamenu-submenu-header {
        padding: 1.25rem !important;
    }
}

.router-container{
    flex: 5;
    margin: 12px 12px 0px 12px;
}

::ng-deep .p-toast {
    position: static !important; 
    width: 100% !important;
}