<div class="container mt-4 mb-4">
  <p-toast></p-toast>
  <div class="ui-g form-group">
    <div class="heading">Search Employees</div>
  </div>
  <div class="form-group row">
    <div class="col-md-8">
        <label>Details</label>
        <input placeholder="Enter your Name, Email, Phone" type="text" class="form-control" id="Details" [(ngModel)]="searchEmployee.details" required name="Details">
    </div>
    <div class="col-md-4 button-container mt-4">
      <p-button label="Clear" (onClick)="onClearClick()" icon="pi pi-times-circle" styleClass="p-button-outlined p-button-danger p-button-sm"></p-button>
      <p-button icon="pi pi-search" label="Search" styleClass="p-button-sm" (onClick)="onSearchClick()"></p-button>
    </div>
  </div> 
  <div class="table-container">
    <p-table [value]="employees">
      <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of employeeColumns" [ngStyle]="{'width': col.width}">
              {{col.header}}
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
          <tr>
            <td>{{employee.name}}</td>
            <td style="word-break: break-all;">{{employee.email}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.gender?.description}}</td>
            <td>
              <p-button label="" icon="pi pi-pencil" styleClass="p-button-sm" iconPos="right" (click)="onEditClick(employee)"></p-button>
            </td>
            <td>
              <p-button label="" styleClass="p-button-danger p-button-sm" icon="pi pi-trash" (click)="onDeleteClick(employee)" iconPos="right"></p-button>
            </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-progressSpinner *ngIf="showLoader" ></p-progressSpinner>
