/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'src/assets/themes/color.scss';

p-progressSpinner{
    bottom: calc(100vh/2);
    right: calc(100vw/2);
    position: fixed !important;
}

th{
    background: var(--primary-theme-color)  !important;
    color: #ffffff !important;
}